extends /layout/application.pug

block content
  .row
    .col
      include taskFilters
      .mt-2.mb-5
        a(href=urlFor("newTask", { query }))
          i.fas.fa-plus.mr-2
          | New task
      include showAll
    .col
      - const method = "post";
      - const url = urlFor("createTask", { query });  
      include taskForm