- const dataTableClass = currentPath === urlFor("tasks") ? "data-table" : "data-table-scroll-Y";
table.table.table-sm.table-striped.table-hover(class=dataTableClass)
  thead
    tr
      th Task
      th Status
      th Created at
  tbody 
    each task in tasks
      tr
        td
          a.text-dark(href=urlFor("editTask", task.id, { query }))= task.name
        td= task.Status.name
        td= moment(task.createdAt).format("YYYY MMM Do")
