.jumbotron
  .d-flex.flex-column.align-items-start
    p Task manager has the following predefined task statuses:
    ul.list-group.ml-5
      li Active
      li Completed
      li Canceled
      li In progress
    p.mt-5
      i These statuses can not be edited or deleted
