extends /layout/application.pug
block content
  h3 Customize task statuses
  hr
  .d-flex.flex-row.justify-content-between
    include description
    include select
    - const method = "post";
    - const url = urlFor("createStatus");
    include statusForm
  hr
