.d-flex.flex-column.align-items-center
  h6.mb-4 Status details
  +formFor({ url, method }) 
    .form-group.mb-4
      label.small.ml-2 Status name
      +input(formObj, 'name', { placeholder: 'Enter status name' }) 
    .form-group.mb-4
      label.small.ml-2 Pick a color
      .input-group
        #colorpicker-preview.input-group-prepend.mb-3.border
          i.fas.fa-eye.mx-3.mt-2
        +input(formObj, 'color', { placeholder: 'Pick the status color' })(id="colorpicker")
    .row.mt-3
      .col
        +button({ type: 'submit', value: 'Save' }).btn-outline-dark
          i.fas.fa-save.ml-2
      .col
        if method === 'patch'  
          a.btn.btn-outline-dark.float-right(
            data-method='delete',
            href=urlFor("deleteStatus", selectedStatusId),
            data-confirm='Are you sure you want to delete status?'
        )
            i.fas.fa-trash-alt
