extends /layout/application.pug

block content
  .row.justify-content-md-center
    .col-md-4
      h3.text-center= t('common:signUp')
      +formFor({ url: urlFor('users'), method: 'post' })
        +input(formObj, 'email', { type: 'email', placeholder: t('forms:placeholders.email') })
        +input(formObj, 'firstName', { placeholder: t('forms:placeholders.firstName') })
        +input(formObj, 'lastName', { placeholder: t('forms:placeholders.lastName') })
        +input(formObj, 'password', { type: 'password', placeholder: t('forms:placeholders.password') })
        +button({ type: 'submit', value: t('forms:submit') }).btn-lg.btn-dark.btn-block
