extends /layout/application.pug
block content
  .row
    .col.mt-3
      include showAll
    .col-4
      h3.mb-5.ml-2.text-center User Details
      .col.align-self-center
        .row.ml-1.mb-5
          +avatar(userToShow, 'large').mr-4
          h4.align-self-center= userToShow.fullName
        .mb-3
          h5 Email:
          p= userToShow.email
        .mb-3
          h5 Registered:
          p= moment(userToShow.createdAt).format("YYYY-MM-DD [at] HH:mm")
